<!DOCTYPE html>
<html>
     <title>Bonsoir</title>
    <h1>page de BG </h1>
    <img src= "https://www.iphonecasse.fr/wp-content/uploads/2017/11/coursier-scooter-paris.png">
    <body>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eleifend metus, in consectetur urna. Suspendisse mollis diam vel varius bibendum. Sed eu libero vitae sem gravida posuere. Ut mattis gravida viverra. Etiam lobortis nisl id pellentesque vehicula. Nulla egestas id metus sit amet varius. Cras finibus sapien massa, nec ullamcorper odio auctor et. Curabitur ac tincidunt felis, vitae maximus tortor.

Sed porta vel erat vitae accumsan. Donec eu porta risus. Nulla facilisi. Nam vel enim at erat dapibus iaculis vel eget est. Donec porta in mi non tempus. Quisque imperdiet rutrum elit, ac consequat nisl tristique sit amet. Proin nec consequat massa, in efficitur dolor.

Mauris diam orci, vehicula fringilla erat quis, laoreet molestie lacus. Sed in enim pharetra, consequat dolor ac, lacinia ante. Aenean convallis condimentum arcu eget cursus. Donec ut blandit ante. Phasellus gravida scelerisque orci, quis tempus mi placerat non. Suspendisse ultrices quam libero, non commodo dui consectetur ac. Etiam finibus scelerisque mi, quis varius dolor tincidunt vitae. Donec sit amet nisl mi. Vivamus vulputate vehicula velit, commodo pulvinar velit elementum a.</p>
    
    </body>
</html>
